<footer style="color: #F0F0F0; background: #237CBE; position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;">
  <p>
    Christopher Choi &copy; 2018 | (e)cdddchris@gmail.com
  </p>
</footer>
